* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    margin-top: 0;
    font-size: 22px;
}

h2 {
    margin-top: 0;
    font-size: 20px;
}

h3 {
    margin-top: 0;
    font-size: 18px;
}

h4 {
    margin-top: 0;
    font-size: 16px;
}

h5 {
    margin-top: 0;
    font-size: 14px;
}

h6 {
    margin-top: 0;
    font-size: 12px;
}

code {
    font-size: 1.2em;
}

ul {
    padding-inline-start: 20px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    font-family: sans-serif;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 40px;
    font-weight: bold;
    height: 70px;
    width: 70px;
    line-height: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.status-text {
    font-size: 30px;
}

.status-symbol {
    font-size: 50px;
}

.game {
    display: flex;
    flex-direction: row;
}

l1ilm
.game-info {
    margin-left: 20px;
}

.actions {
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.winning-cell {
    background: gold;
}

.move {
    background: lightgreen;
    padding: 10px;
    margin: 3px;
    width: 300px;
}

.active-move {
    color: white;
    background: green;
}

.symbols {
    display: flex;
    flex-direction: column;
}

.symbols label {
    margin: 10px;
}

.symbols input {
    font-size: 40px;
    width: 50px;
    margin-left: 10px;
}
